services:

  redyellowgreen.api:
    image: redyellowgreen.api
    build:
      context: ./RedYellowGreen
      dockerfile: src/RedYellowGreen.Api/Dockerfile
    environment:
      ConnectionStrings__DefaultConnection: "Host=database;Database=RedYellowGreenDb;Username=root;Password=root;Port=5432"
      ASPNETCORE_URLS: http://+:5000
      ASPNETCORE_ENVIRONMENT: Development
      RUN_MIGRATIONS: true

  database:
    image: postgres:18
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: RedYellowGreenDb
    ports:
      - "5432:5432"